body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.neon-button {
  border: 3px solid #ffa9b7;
  background: #fff;
  padding: 16px 32px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffa9b7;
  letter-spacing: 8px;
  font-weight: bold;
  margin: 24px;
  cursor: pointer;
}

button.neon-button:hover {
  animation: flicker 400ms linear forwards;
}

.card-wrapper {
  background: #111;
  color: #eee;
  padding: 8px 32px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-radius: 10px;
}

.card-wrapper .card-heading {
  color: #fa032c
}

.card-wrapper p {
  line-height: 2;
  margin-botton: 0;
}
@keyframes flicker {
  5% {
    border-color: #fa032c;
    color: #fa032c;
    text-shadow: 0 0 4px #ff4262;
    box-shadow: 0 0 16px 0 #ff4262, inset 0 0 8px 0 #ff4262;
  }

  10% {
    border-color: #ff4262;
    color: #ff4262;
    box-shadow: unset;
    text-shadow: unset;
  }

  55% {
    border-color: #fa032c;
    color: #fa032c;
    text-shadow: 0 0 4px #ff4262;
    box-shadow: 0 0 16px 0 #ff4262, inset 0 0 8px 0 #ff4262;
  }

  75% {
    border-color: #fa032c;
    color: #fa032c;
    text-shadow: 0 0 4px #ff4262;
    box-shadow: 0 0 16px 0 #ff4262, inset 0 0 8px 0 #ff4262;
  }

  80% {
    border-color: #ff4262;
    color: #ff4262;
    box-shadow: unset;
    text-shadow: unset;
  }

  100% {
    border-color: #fa032c;
    color: #fa032c;
    text-shadow: 0 0 4px #ff4262;
    box-shadow: 0 0 16px 0 #ff4262, inset 0 0 8px 0 #ff4262;
  }
}
